<div class="navbar">
</div>

<br/>
<center>
  <h1>Blackjack on Rails</h1>
</center>

<div id='loginBox'>
  <center>
    <h3>Sign in with...</h1>
  </center>
  <%= button_to "Google+", "/auth/google_oauth2/", id: "btnGoogle" %>
  <%= button_to "Facebook", "/auth/facebook/", id: "btnFacebook" %>
  <%= button_to "Play As a Guest!", '/guest_auth', id: 'btnGuest', method: "post" %>
</div>
