<div id="betView">
  <p><center>Place a bet...</center></p>
  <center>
    <button class="btnBet" onclick="onBet(5)"/>5</button>
    <button class="btnBet" onclick="onBet(10)"/>10</button>
    <button class="btnBet" onclick="onBet(25)"/>25</button>
    <button class="btnBet" onclick="onBet(50)"/>50</button>
  </center>
</div>
