<div id="betView">
  <p><center>Place a bet...</center></p>
  <center>
    <button class="btnBet" id="bet5"  onclick="blackjack.onBet(5)"/>5</button>
    <button class="btnBet" id="bet10" onclick="blackjack.onBet(10)"/>10</button>
    <button class="btnBet" id="bet25" onclick="blackjack.onBet(25)"/>25</button>
    <button class="btnBet" id="bet50" onclick="blackjack.onBet(50)"/>50</button>
  </center>
</div>
