<div id="gameView" style="display:none">
  <div id="cards">
    <center>
      <br/>
      <div id="dealerBox" class="box">
        <p id="dealerScore">Dealer: </p>
        <ul id="dealerCards" style="list-style:none"></ul>
      </div>

      <div id="playerBox" class="box">
        <p id="playerScore">You: </p>
        <ul id="playerCards" style="list-style:none"></ul>
      </div>
    <center>
  </div>

  <div id="input">
    <center>
      <input id="btnHit" type="button" disabled="true" value="Hit" onclick="blackjack.playerHit()"/>
      <input id="btnStand" type="button" disabled="true" value="Stand" onclick="blackjack.onStand()"/>
      <input id="btnRefresh" type="button" disabled="true" value="Play Again" onclick="blackjack.reloadPage()"/>
    </center>
  <br/>
  <p id="prompt">Bet: $<%= @user.bet %> </p>
  </div>
</div>
