<div id="cash">
  <br/>
  <center>Your cash:
    <span id="moneyValue">$<%= @user.money %>.00</div>
  <center>
</div>

<div id="betView">
  <p><center>Place a bet...</center></p>
  <center>
    <input class="btnBet" type="button" value="5" onclick="onBet(5)"/>
    <input class="btnBet" type="button" value="10" onclick="onBet(10)"/>
    <input class="btnBet" type="button" value="25" onclick="onBet(25)"/>
    <input class="btnBet" type="button" value="50" onclick="onBet(50)"/>
  </center>
</div>

<div id="gameView" style="display:none">
  <div id="cards">
    <br/>
    <div id="dealerBox" class="box">
      <center><p id="dealerScore">Dealer: </p></center>
      <ul id="dealerCards" style="list-style:none"></ul>
    </div>

    <div id="playerBox" class="box">
      <center><p id="playerScore">You: </p></center>
      <ul id="playerCards" style="list-style:none"></ul>
    </div>
  </div>

  <div id="input">
    <center>
      <input id="btnHit" type="button" disabled="true" value="Hit" onclick="playerHit()"/>
      <input id="btnStand" type="button" disabled="true" value="Stand" onclick="onStand()"/>
      <input id="btnRefresh" type="button" disabled="true" value="Play Again" onclick="reloadPage()"/>
    </center>
  <br/>
  <p id="foo">Click a button</p>
  </div>
</div>
