<center>
  <div>
    <p>Your cash: $<%= @user.money %>.00</p>
  </div>

  <div id="betView" style="margin-top:10%">
    <p>Place a bet...</p>
    <input id="btnBet" type="button" value="50" onclick="onBet(50)"/>
    <input id="btnBet" type="button" value="10" onclick="onBet(10)"/>
    <input id="btnBet" type="button" value="5" onclick="onBet(5)"/>
  </div>

  <div id="gameView" style="display:none">
    <h1>Blackjack!</h1>

    <p id="foo">Click a button</p>

    <div id="playerBox" class="box">
      <h3>You</h3>
      <p id="playerScore">Score: </p>
      <ul id="playerCards" style="list-style:none"></ul>
    </div>

    <div id="dealerBox" class="box">
      <h3>Dealer</h3>
      <p id="dealerScore">Score: </p>
      <ul id="dealerCards" style="list-style:none"></ul>
    </div>

    <div id="input">
      <input id="btnHit" type="button" disabled="true" value="Hit" onclick="playerHit()"/>
      <input id="btnStand" type="button" disabled="true" value="Stand" onclick="onStand()"/>
      <input id="btnRefresh" type="button" disabled="true" value="Refresh" onclick="reloadPage()"/>
    </div>
  </div>
</center>
