<center>
  <h1>Blackjack!</h1>

  <p id="foo">Click a button</p>

  <ul id="cards" style="list-style:none"></ul>

  <input id="btnHit" type="button" value="Hit" onclick="onHit()"/>
  <input id="btnStand" type="button" value="Stand" onclick="onStand()"/>

  <% session[:drawn_cards].inspect %>
</center>
