<div class="navbar">
  <br/>
  <center>Your Cash:
    <span id="moneyValue">$<%= @user.money %></span>
  </center>
  <%= link_to "Log Out", "/signout", method: 'delete' %>
</div>

<div id="betView">
  <p><center>Place a bet...</center></p>
  <center>
    <button class="btnBet" onclick="onBet(5)"/>5</button>
    <button class="btnBet" onclick="onBet(10)"/>10</button>
    <button class="btnBet" onclick="onBet(25)"/>25</button>
    <button class="btnBet" onclick="onBet(50)"/>50</button>
  </center>
</div>

<div id="gameView" style="display:none">
  <div id="cards">
    <center>
      <br/>
      <div id="dealerBox" class="box">
        <p id="dealerScore">Dealer: </p>
        <ul id="dealerCards" style="list-style:none"></ul>
      </div>

      <div id="playerBox" class="box">
        <p id="playerScore">You: </p>
        <ul id="playerCards" style="list-style:none"></ul>
      </div>
    <center>
  </div>

  <div id="input">
    <center>
      <input id="btnHit" type="button" disabled="true" value="Hit" onclick="playerHit()"/>
      <input id="btnStand" type="button" disabled="true" value="Stand" onclick="onStand()"/>
      <input id="btnRefresh" type="button" disabled="true" value="Play Again" onclick="reloadPage()"/>
    </center>
  <br/>
  <p id="prompt">Click a button</p>
  </div>
</div>
